html
	width 100%

	body
		max-width 100%



@require 'mixins.styl'

@require '../marko/app.styl'
@require '../marko/components/download-list.styl'
@require '../marko/components/download.styl'
@require '../marko/components/filter-form.styl'
@require '../marko/components/filter-select.styl'
